body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  line-height: 1.4;
  height: 100%;
}
.app {
  position: absolute;
  width: 100%;
  height: calc(100%);
}

#workspace {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: calc(100% - 10px);
  margin: auto;
  height: 100%;
  min-height: 100%;
}

#right {
  flex-grow: 0.5;
  flex-direction: column;
  background-image: url(./background.jpg);
  padding: 10px 0;
}

#left {
  flex-grow: 4;
  background-color:#EAE5DD;
}
#center {
  display: flex;
  flex-grow: 0.2;
  justify-content: center;
  align-items: center;
  border-left: .2px solid white;
  border-right: .2px solid white;
  background-image: url(./background.jpg);
 
}

.element {
  display: flex;
  align-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
}

.element > .img {
  height: 80px;
  padding: 5px;
  display: flex;
 justify-content: flex-start;
}

.img > img {
  height: 70px;
  width: 70px;
}

.element > .text {
  height: 80px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#center ul {
  list-style-type: none;
  padding: 0px 0px;
}

#center li {
  padding: 5px 0;
  font-size: 14.4px;
}